@{
    ViewBag.Title = "Addbill";
}

<form method="post">
    <label>Invoicenumber</label>  <input type="text" name="invoicenumber" />
    <br />
    <label>Value</label>          <input type="number" name="value" />
    <br />
    <label>Description</label>    <input type="text" name="Description" />
    <br />
    <label>Currency</label>
    <select name="currencies">
        @{foreach (var item in ViewBag.currencies)
            {
                <option value="@item.symbol">@item.symbol (@item.name)</option>
            }
        }
    </select>
    <br />
    <label>Vendor</label>
    <select name="Vendors">
        @{foreach (var item in ViewBag.vendors)
            {
                <option value="@item.name"> (@item.name)</option>
            }
        }
    </select>
    <br />

    <input type="submit" value="send" />
</form>
